/* Move cards up closer to the top */
.card {
    margin-top: 0px;
  }

/*Change the body background color of popovers*/
.popover-body {
    padding: 10px 15px 15px;
    line-height: 1.4;
    color: #555;
    background-color: #eee;
}

.dark-edition .form-control {
  color: #ccc;
  background-color: #191919;
}

/*Change the dark theme's notification from purple to orange*/
.dark-edition .navbar .notification {
    background: linear-gradient(60deg, #c86e04, #fa8a05);
}

/*Change the default theme's notification to orange*/
.navbar .notification {
    background: #fa8a05;
  }

/*Move radio buttons down to line up with label better*/
.checkbox-radios {
    padding-top: 13px;
}

/*Change dark theme sidebar color*/
.dark-edition .sidebar .sidebar-background::after, .dark-edition .sidebar {
    background: #191919;
    opacity: none;
}

/*Change dark theme body color*/
.dark-edition {
    background-color: #060606;
}

/*Change dark theme card color*/
.dark-edition .card {
    background: #191919;
}

/* Move sidebar logo to align left with menu items */
.sidebar .logo .simple-text {
    padding: 5px 35px;
    text-align: left;
}

/*Used for confirming passwords match */
.confirmMessage {
  text-align: center;
}

/*Change from purple to orange*/
a, a:hover, a:active a:focus {
    color: #fa8a05;
}

/*The <pre> is used for displaying some XML*/
.dark-edition pre {
  color:#eeeeee;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #fa8a05 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

/* Change dark-edition drop down menu from navbar to orange */
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:hover,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:focus,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:active,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu li>a:hover,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu li>a:focus,
.dark-edition .dropdown:not(.show-dropdown) .dropdown-menu li>a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background: linear-gradient(60deg, #fa8a05, #fa8a05);
  color: #fff;
}

/* Change default theme drop down menu from navbar to orange */
.dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:hover,
.dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:focus,
.dropdown:not(.show-dropdown) .dropdown-menu .dropdown-item:active,
.dropdown:not(.show-dropdown) .dropdown-menu li>a:hover,
.dropdown:not(.show-dropdown) .dropdown-menu li>a:focus,
.dropdown:not(.show-dropdown) .dropdown-menu li>a:active {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  background: linear-gradient(60deg, #fa8a05, #fa8a05);
  color: #fff;
}

/* Change radio button inner color to orange */
.form-check .form-check-label .circle .check {
    background-color: #fa8a05;
}

/* Change radio button outer color to grey */
.form-check .form-check-input:checked ~ .circle {
    border-color: #AAAAAA;
}

.form-check .form-check-input ~ .circle {
    border-color: #AAAAAA;
}


.dark-edition .card .card-body .xml {
    color: #ffffff;
}

.card .card-body .xml {
    color: #8b92a9;
}

/* The original black color is too black, needs lightened up */
.sidebar[data-background-color="black"] {
    background-color: #191919;
}

.card [class*="card-header-"] .card-title + .card-category a {
    color: #fa8a05;
}

.dark-edition .card [class*="card-header-"] .card-title + .card-category a:hover {
    color: #fa8a05;
}
.dark-edition .card [class*="card-header-"] .card-title + .card-category a:focus {
    color: #fa8a05;
}
.dark-edition .card [class*="card-header-"] .card-title + .card-category a {
    color: #ffffff;
}

/* -----------------------------------------*/
/* Stats Cards Left                         */
/* -----------------------------------------*/

/* .card-stats-left is a modified version of .card-stats used on main cards such as virutal machine list. */
.card .card-stats-left {
  background: transparent;
  display: flex;
}

.card .card-stats-left .author,
.card .card-stats-left .stats {
  display: inline-flex;
}

.card-stats-left .card-header.card-header-icon,
.card-stats-left .card-header.card-header-text {
  text-align: left;
}

.card-stats-left .card-header .card-icon+.card-title,
.card-stats-left .card-header .card-icon+.card-category {
  padding-top: 10px;
}

.card-stats-left .card-header.card-header-icon .card-title,
.card-stats-left .card-header.card-header-text .card-title,
.card-stats-left .card-header.card-header-icon .card-category,
.card-stats-left .card-header.card-header-text .card-category {
  margin: 0;
}

.card-stats-left .card-header .card-category {
  margin-bottom: 0;
  margin-top: 0;
}

.card-stats-left .card-header .card-category:not([class*="text-"]) {
  color: #999999;
  font-size: 14px;
}

.card-stats-left .card-header+.card-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

.card-stats-left .card-header.card-header-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}

.card-stats-left .card-body {
  text-align: left;
}

.dark-edition .card-stats-left .card-header .card-category:not([class*="text-"]) {
  color: #8b92a9;
}

.dark-edition .card-stats-left .card-header+.card-footer {
  border-top: 1px solid rgba(180, 180, 180, 0.1);
}


/* causes labels on the forms of .card-stats-left to align to the right */
.card-stats-left .col-form-label {
  text-align: right;
  padding: 17px 5px 0 0;
}


/* -----------------------------------------*/
/*           Stats Cards Center             */
/* -----------------------------------------*/
/* .card-stats-center is a modified version of .card-stats used on main cards such as virutal machine list. */
.card .card-stats-center {
  background: transparent;
  display: flex;
}

.card .card-stats-center .author,
.card .card-stats-center .stats {
  display: inline-flex;
}

.card-stats-center .card-header.card-header-icon,
.card-stats-center .card-header.card-header-text {
  text-align: center;
}

.card-stats-center .card-header .card-icon+.card-title,
.card-stats-center .card-header .card-icon+.card-category {
  padding-top: 10px;
}

.card-stats-center .card-header.card-header-icon .card-title,
.card-stats-center .card-header.card-header-text .card-title,
.card-stats-center .card-header.card-header-icon .card-category,
.card-stats-center .card-header.card-header-text .card-category {
  margin: 0;
}

.card-stats-center .card-header .card-category {
  margin-bottom: 0;
  margin-top: 0;
}

.card-stats-center .card-header .card-category:not([class*="text-"]) {
  color: #999999;
  font-size: 14px;
}

.card-stats-center .card-header+.card-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
}

.card-stats-center .card-header.card-header-icon i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center;
}

.card-stats-center .card-body {
  text-align: left;
}

.dark-edition .card-stats-center .card-header .card-category:not([class*="text-"]) {
  color: #8b92a9;
}

.dark-edition .card-stats-center .card-header+.card-footer {
  border-top: 1px solid rgba(180, 180, 180, 0.1);
}


/* causes labels on the forms of .card-stats-center to align to the right */
.card-stats-center .col-form-label {
  text-align: right;
  padding: 17px 5px 0 0;
}


/* remove icon and square from card headers */
.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
  display:none;
}

.lock-page>.content,.login-page>.content {
 padding-top:18vh
}

.login-page .card-login {
 -webkit-transform:translate3d(0,0,0);
 -moz-transform:translate3d(0,0,0);
 -o-transform:translate3d(0,0,0);
 -ms-transform:translate3d(0,0,0);
 transform:translate3d(0,0,0)
}

.login-page .card-login .card-body {
 padding:0 30px 0 10px
}

.login-page .card-login .card-body .input-group .input-group-text {
 padding:15px 15px 0
}

.login-page .card-login .card-body .input-group .form-control {
 padding-bottom:10px;
 margin:17px 0 0
}


.login-page .card-login .social-line .btn {
 margin-left:5px;
 margin-right:5px
}

.login-page .card-login .card-hidden {
 opacity:0;
 -webkit-transform:translate3d(0,-60px,0);
 -moz-transform:translate3d(0,-60px,0);
 -o-transform:translate3d(0,-60px,0);
 -ms-transform:translate3d(0,-60px,0);
 transform:translate3d(0,-60px,0)
}

.login-page .card-login .card-header {
 margin-top:-40px!important;
 margin-bottom:20px;
}

.login-page .card-login .social-line {
 padding:0;
 margin-top:15px
}

.login-page .card-login .card-title {
 margin-top:10px;
 margin-bottom:10px;
 font-weight:700;
}

.login-page .container {
  padding-top:100px!important
 }

 /* -----------------------------------------*/
 /* Change the Warning Orange color darker   */
 /* -----------------------------------------*/

 .btn.btn-warning {
   color: #fff;
   background-color: #fa8a05;
   border-color: #fa8a05;
   box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
 }

 .open>.btn.btn-warning.dropdown-toggle.bmd-btn-icon {
   color: inherit;
   background-color: #fa8a05;
 }

 .btn.btn-warning.disabled:focus,
 .btn.btn-warning.disabled.focus,
 .btn.btn-warning:disabled:focus,
 .btn.btn-warning:disabled.focus {
   background-color: #fa8a05;
   border-color: #fa8a05;
 }

 .btn.btn-warning.disabled:hover,
 .btn.btn-warning:disabled:hover {
   background-color: #fa8a05;
   border-color: #fa8a05;
 }

 .btn.btn-warning.btn-link {
   background-color: transparent;
   color: #fa8a05;
   box-shadow: none;
 }

 .btn.btn-warning.btn-link:hover,
 .btn.btn-warning.btn-link:focus,
 .btn.btn-warning.btn-link:active {
   background-color: transparent;
   color: #fa8a05;
 }

 .btn.btn-outline-warning {
   color: #fa8a05;
   background-color: transparent;
   border-color: #fa8a05;
 }

 .btn.btn-outline-warning:hover {
   color: #fa8a05;
   background-color: rgba(153, 153, 153, 0.2);
   border-color: #fa8a05;
 }

 .btn.btn-outline-warning:focus,
 .btn.btn-outline-warning.focus,
 .btn.btn-outline-warning:hover {
   color: #fa8a05;
   background-color: rgba(153, 153, 153, 0.2);
   border-color: #fa8a05;
 }

 .btn.btn-outline-warning:active,
 .btn.btn-outline-warning.active,
 .open>.btn.btn-outline-warning.dropdown-toggle,
 .show>.btn.btn-outline-warning.dropdown-toggle {
   color: #fa8a05;
   background-color: rgba(153, 153, 153, 0.2);
   border-color: #fa8a05;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 }

 .btn.btn-outline-warning:active:hover,
 .btn.btn-outline-warning:active:focus,
 .btn.btn-outline-warning:active.focus,
 .btn.btn-outline-warning.active:hover,
 .btn.btn-outline-warning.active:focus,
 .btn.btn-outline-warning.active.focus,
 .open>.btn.btn-outline-warning.dropdown-toggle:hover,
 .open>.btn.btn-outline-warning.dropdown-toggle:focus,
 .open>.btn.btn-outline-warning.dropdown-toggle.focus,
 .show>.btn.btn-outline-warning.dropdown-toggle:hover,
 .show>.btn.btn-outline-warning.dropdown-toggle:focus,
 .show>.btn.btn-outline-warning.dropdown-toggle.focus {
   color: #fa8a05;
   background-color: rgba(153, 153, 153, 0.4);
   border-color: #fa8a05;
 }

 .btn.btn-outline-warning.disabled:focus,
 .btn.btn-outline-warning.disabled.focus,
 .btn.btn-outline-warning:disabled:focus,
 .btn.btn-outline-warning:disabled.focus {
   background-color: transparent;
   border-color: #fa8a05;
 }

 .btn.btn-outline-warning.disabled:focus,
 .btn.btn-outline-warning.disabled.focus,
 .btn.btn-outline-warning:disabled:focus,
 .btn.btn-outline-warning:disabled.focus {
   background-color: transparent;
   border-color: #fa8a05;
 }

 .btn.btn-outline-warning.disabled:hover,
 .btn.btn-outline-warning:disabled:hover {
   background-color: transparent;
   border-color: #fa8a05;
 }

 .bg-inverse .btn.btn-outline-warning {
   color: #fa8a05;
   background-color: transparent;
   border-color: #fa8a05;
 }

 .bg-inverse .btn.btn-outline-warning:hover {
   color: #fa8a05;
   background-color: rgba(204, 204, 204, 0.15);
   border-color: rgba(204, 204, 204, 0.15);
 }

 .bg-inverse .btn.btn-outline-warning:focus,
 .bg-inverse .btn.btn-outline-warning.focus,
 .bg-inverse .btn.btn-outline-warning:hover {
   color: #fa8a05;
   background-color: rgba(204, 204, 204, 0.15);
   border-color: rgba(204, 204, 204, 0.15);
 }

 .bg-inverse .btn.btn-outline-warning:active,
 .bg-inverse .btn.btn-outline-warning.active,
 .open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle,
 .show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle {
   color: #fa8a05;
   background-color: rgba(204, 204, 204, 0.15);
   border-color: rgba(204, 204, 204, 0.15);
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 }

 .bg-inverse .btn.btn-outline-warning:active:hover,
 .bg-inverse .btn.btn-outline-warning:active:focus,
 .bg-inverse .btn.btn-outline-warning:active.focus,
 .bg-inverse .btn.btn-outline-warning.active:hover,
 .bg-inverse .btn.btn-outline-warning.active:focus,
 .bg-inverse .btn.btn-outline-warning.active.focus,
 .open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:hover,
 .open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:focus,
 .open>.bg-inverse .btn.btn-outline-warning.dropdown-toggle.focus,
 .show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:hover,
 .show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle:focus,
 .show>.bg-inverse .btn.btn-outline-warning.dropdown-toggle.focus {
   color: #fa8a05;
   background-color: rgba(204, 204, 204, 0.25);
   border-color: rgba(204, 204, 204, 0.25);
 }

 .bg-inverse .btn.btn-outline-warning.disabled:focus,
 .bg-inverse .btn.btn-outline-warning.disabled.focus,
 .bg-inverse .btn.btn-outline-warning:disabled:focus,
 .bg-inverse .btn.btn-outline-warning:disabled.focus {
   background-color: transparent;
   border-color: #fa8a05;
 }

 .bg-inverse .btn.btn-outline-warning.disabled:hover,
 .bg-inverse .btn.btn-outline-warning:disabled:hover {
   background-color: transparent;
   border-color: #fa8a05;
 }

 .has-warning [class^='bmd-label'],
 .has-warning [class*=' bmd-label'] {
   color: #fa8a05;
 }

 .has-warning .form-control,
 .is-focused .has-warning .form-control {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
 }

 .has-warning .form-control.form-control-success,
 .is-focused .has-warning .form-control.form-control-success {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==";
 }

 .has-warning .form-control.form-control-warning,
 .is-focused .has-warning .form-control.form-control-warning {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+";
 }

 .has-warning .form-control.form-control-danger,
 .is-focused .has-warning .form-control.form-control-danger {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=";
 }

 .has-warning .is-focused .valid-feedback {
   display: none;
   width: 100%;
   margin-top: 0.25rem;
   font-size: 80%;
   color: #fa8a05;
 }

 .was-validated .has-warning .is-focused .form-control:valid,
 .has-warning .is-focused .form-control.is-valid,
 .was-validated .has-warning .is-focused .custom-select:valid,
 .has-warning .is-focused .custom-select.is-valid {
   border-color: #fa8a05;
 }

 .was-validated .has-warning .is-focused .form-control:valid:focus,
 .has-warning .is-focused .form-control.is-valid:focus,
 .was-validated .has-warning .is-focused .custom-select:valid:focus,
 .has-warning .is-focused .custom-select.is-valid:focus {
   border-color: #fa8a05;
   box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.25);
 }

 .was-validated .has-warning .is-focused .form-check-input:valid~.form-check-label,
 .has-warning .is-focused .form-check-input.is-valid~.form-check-label {
   color: #fa8a05;
 }

 .was-validated .has-warning .is-focused .custom-control-input:valid~.custom-control-label,
 .has-warning .is-focused .custom-control-input.is-valid~.custom-control-label {
   color: #fa8a05;
 }

 .was-validated .has-warning .is-focused .custom-file-input:valid~.custom-file-label,
 .has-warning .is-focused .custom-file-input.is-valid~.custom-file-label {
   border-color: #fa8a05;
 }

 .has-warning .is-focused [class^='bmd-label'],
 .has-warning .is-focused [class*=' bmd-label'] {
   color: #fa8a05;
 }

 .has-warning .is-focused .bmd-label-placeholder {
   color: #fa8a05;
 }

 .has-warning .is-focused .form-control {
   border-color: #fa8a05;
 }

 navbar.bg-warning {
   color: #fff;
   background-color: #fa8a05 !important;
   box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(255, 152, 0, 0.46);
 }

 .navbar.bg-warning .dropdown-item:hover,
 .navbar.bg-warning .dropdown-item:focus {
   box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
   background-color: #fa8a05;
   color: #fff;
 }

 .alert.alert-warning i {
   color: #fa8a05;
 }

 .text-warning {
   color: #fa8a05 !important;
 }

 .sidebar[data-color="orange"] li.active>a {
   background-color: #fa8a05;
   box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
 }

 .fixed-plugin .btn.btn-warning {
   color: #fff;
   background-color: #fa8a05;
   border-color: #fa8a05;
   box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
 }

 .open>.fixed-plugin .btn.btn-warning.dropdown-toggle.bmd-btn-icon {
   color: inherit;
   background-color: #fa8a05;
 }

 .fixed-plugin .btn.btn-warning.disabled:focus,
 .fixed-plugin .btn.btn-warning.disabled.focus,
 .fixed-plugin .btn.btn-warning:disabled:focus,
 .fixed-plugin .btn.btn-warning:disabled.focus {
   background-color: #fa8a05;
   border-color: #fa8a05;
 }

 .fixed-plugin .btn.btn-warning.disabled:hover,
 .fixed-plugin .btn.btn-warning:disabled:hover {
   background-color: #fa8a05;
   border-color: #fa8a05;
 }

 .fixed-plugin .btn.btn-warning.btn-link {
   background-color: transparent;
   color: #fa8a05;
   box-shadow: none;
 }

 .fixed-plugin .btn.btn-warning.btn-link:hover,
 .fixed-plugin .btn.btn-warning.btn-link:focus,
 .fixed-plugin .btn.btn-warning.btn-link:active {
   background-color: transparent;
   color: #fa8a05;
 }

 .ct-chart .ct-series-c .ct-point,
 .ct-chart .ct-series-c .ct-line,
 .ct-chart .ct-series-c .ct-bar,
 .ct-chart .ct-series-c .ct-slice-donut,
 .ct-chart .ct-series-c .ct-slice-pie,
 .ct-chart .ct-series-c .ct-slice-donut-solid,
 .ct-chart .ct-series-c .ct-area {
   stroke: #fa8a05;
 }

 .ct-chart .ct-series-c .ct-slice-pie,
 .ct-chart .ct-series-c .ct-slice-donut-solid,
 .ct-chart .ct-series-c .ct-area {
   fill: #fa8a05;
 }

 .dark-edition .sidebar[data-color="orange"] li.active>a {
   background: linear-gradient(60deg, #f5700c, #fa8a05);
   box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
 }

 .dark-edition .card .card-header-warning .card-icon,
 .dark-edition .card .card-header-warning .card-text,
 .dark-edition .card .card-header-warning:not(.card-header-icon):not(.card-header-text),
 .dark-edition .card.bg-warning,
 .dark-edition .card.card-rotate.bg-warning .front,
 .dark-edition .card.card-rotate.bg-warning .back {
   background: linear-gradient(60deg, #f5700c, #fa8a05);
 }

 .dark-edition .warning-link {
   background-image: linear-gradient(60deg, #f5700c, #fa8a05) !important;
 }

 .dark-edition .has-warning [class^='bmd-label'],
 .dark-edition .has-warning [class*=' bmd-label'] {
   color: #fa8a05;
 }

 .dark-edition .has-warning .form-control,
 .is-focused .dark-edition .has-warning .form-control {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);
 }

 .dark-edition .has-warning .form-control.form-control-success,
 .is-focused .dark-edition .has-warning .form-control.form-control-success {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjNWNiODVjIiBkPSJNMjMzLjggNjEwYy0xMy4zIDAtMjYtNi0zNC0xNi44TDkwLjUgNDQ4LjhDNzYuMyA0MzAgODAgNDAzLjMgOTguOCAzODljMTguOC0xNC4yIDQ1LjUtMTAuNCA1OS44IDguNGw3MiA5NUw0NTEuMyAyNDJjMTIuNS0yMCAzOC44LTI2LjIgNTguOC0xMy43IDIwIDEyLjQgMjYgMzguNyAxMy43IDU4LjhMMjcwIDU5MGMtNy40IDEyLTIwLjIgMTkuNC0zNC4zIDIwaC0yeiIvPjwvc3ZnPg==";
 }

 .dark-edition .has-warning .form-control.form-control-warning,
 .is-focused .dark-edition .has-warning .form-control.form-control-warning {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZjBhZDRlIiBkPSJNNjAzIDY0MC4ybC0yNzguNS01MDljLTMuOC02LjYtMTAuOC0xMC42LTE4LjUtMTAuNnMtMTQuNyA0LTE4LjUgMTAuNkw5IDY0MC4yYy0zLjcgNi41LTMuNiAxNC40LjIgMjAuOCAzLjggNi41IDEwLjggMTAuNCAxOC4zIDEwLjRoNTU3YzcuNiAwIDE0LjYtNCAxOC40LTEwLjQgMy41LTYuNCAzLjYtMTQuNCAwLTIwLjh6bS0yNjYuNC0zMGgtNjEuMlY1NDloNjEuMnY2MS4yem0wLTEwN2gtNjEuMlYzMDRoNjEuMnYxOTl6Ii8+PC9zdmc+";
 }

 .dark-edition .has-warning .form-control.form-control-danger,
 .is-focused .dark-edition .has-warning .form-control.form-control-danger {
   background-image: linear-gradient(to top, #fa8a05 2px, rgba(255, 152, 0, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px), "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNzkyIj48cGF0aCBmaWxsPSIjZDk1MzRmIiBkPSJNNDQ3IDU0NC40Yy0xNC40IDE0LjQtMzcuNiAxNC40LTUyIDBsLTg5LTkyLjctODkgOTIuN2MtMTQuNSAxNC40LTM3LjcgMTQuNC01MiAwLTE0LjQtMTQuNC0xNC40LTM3LjYgMC01Mmw5Mi40LTk2LjMtOTIuNC05Ni4zYy0xNC40LTE0LjQtMTQuNC0zNy42IDAtNTJzMzcuNi0xNC4zIDUyIDBsODkgOTIuOCA4OS4yLTkyLjdjMTQuNC0xNC40IDM3LjYtMTQuNCA1MiAwIDE0LjMgMTQuNCAxNC4zIDM3LjYgMCA1MkwzNTQuNiAzOTZsOTIuNCA5Ni40YzE0LjQgMTQuNCAxNC40IDM3LjYgMCA1MnoiLz48L3N2Zz4=";
 }

 .dark-edition .has-warning .is-focused .valid-feedback {
   display: none;
   width: 100%;
   margin-top: 0.25rem;
   font-size: 80%;
   color: #fa8a05;
 }

 .was-validated .dark-edition .has-warning .is-focused .form-control:valid,
 .dark-edition .has-warning .is-focused .form-control.is-valid,
 .was-validated .dark-edition .has-warning .is-focused .custom-select:valid,
 .dark-edition .has-warning .is-focused .custom-select.is-valid {
   border-color: #fa8a05;
 }

 .was-validated .dark-edition .has-warning .is-focused .form-control:valid:focus,
 .dark-edition .has-warning .is-focused .form-control.is-valid:focus,
 .was-validated .dark-edition .has-warning .is-focused .custom-select:valid:focus,
 .dark-edition .has-warning .is-focused .custom-select.is-valid:focus {
   border-color: #fa8a05;
   box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.25);
 }

 .was-validated .dark-edition .has-warning .is-focused .form-check-input:valid~.form-check-label,
 .dark-edition .has-warning .is-focused .form-check-input.is-valid~.form-check-label {
   color: #fa8a05;
 }

 .was-validated .dark-edition .has-warning .is-focused .custom-control-input:valid~.custom-control-label,
 .dark-edition .has-warning .is-focused .custom-control-input.is-valid~.custom-control-label {
   color: #fa8a05;
 }

 .was-validated .dark-edition .has-warning .is-focused .custom-file-input:valid~.custom-file-label,
 .dark-edition .has-warning .is-focused .custom-file-input.is-valid~.custom-file-label {
   border-color: #fa8a05;
 }

 .dark-edition .has-warning .is-focused [class^='bmd-label'],
 .dark-edition .has-warning .is-focused [class*=' bmd-label'] {
   color: #fa8a05;
 }

 .dark-edition .has-warning .is-focused .bmd-label-placeholder {
   color: #fa8a05;
 }

 .dark-edition .has-warning .is-focused .form-control {
   border-color: #fa8a05;
 }

 .dark-edition .alert.alert-warning {
   background: linear-gradient(60deg, #f5700c, #fa8a05);
   background-color: unset;
 }
